<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="navbar :: navbar"> </div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Access denied</h1>
    <p>You do not have the permission to access this resource!</p>
  </div>
</div>

</body>
</html>