<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event planner requests</title>

    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" >
    <!-- Themify -->
    <link rel="stylesheet" th:href="@{/plugins/themify/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slicks.css}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/magnific-popup/magnific-popup.css}">
    <!-- manin stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="navbar :: navbar"> </div>

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="lg-title">Here are the event planner requests</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="single-block-wrapper section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Username</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request:${requests}">
                        <td th:text="${request.idEventPlannerRequest}"></td>
                        <td ><a th:text="${request.user.username}" th:href="@{/user/{username}(username=${request.user.username})}"></a></td>
                        <td th:text="${request.status}"></td>
                        <td>
                            <ul class="list-unstyled" th:if="${#authentication.getName()} != ${request.user.username}">
                                <li><a th:href="@{/request/{idRequest}/approve(idRequest=${request.idEventPlannerRequest})}" class="text-info" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-thumb-up"></i></a></li>
                                <li><a th:href="@{/request/{idRequest}/reject(idRequest=${request.idEventPlannerRequest})}" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="ti-thumb-down"></i></a></li>
                            </ul>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script th:src="@{/plugins/jquery/jquery.js}"></script>
<!-- Bootstrap jQuery -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
<!-- Owl caeousel -->
<script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/plugins/slick-carousel/slick.min.js}"></script>
<script th:src="@{/plugins/magnific-popup/magnific-popup.js}"></script>
<!-- Instagram Feed Js -->
<script th:src="@{/plugins/instafeed-js/instafeed.min.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script th:src="@{/plugins/google-map/gmap.js}"></script>
<!-- main js -->
<script th:src="@{/js/custom.js}"></script>

</body>
</html>