<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My recommendations</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css2/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css2/style.css}" type="text/css">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" >
    <!-- Themify -->
    <link rel="stylesheet" th:href="@{/plugins/themify/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slicks.css}">
    <!-- Slick Carousel -->
    <!-- Slick Carousel -->
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/magnific-popup/magnific-popup.css}">
    <!-- manin stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="navbar :: navbar"> </div>

<section class="banner">
    <div class="container">
        <div class="banner-img">
            <a href="post-single.html"><img th:src="@{/images/petfriends-logo.jpg}" alt="" class="img-fluid w-100"></a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content text-center" style="background-color: #f3ecec">
                    <div class="meta-cat">
                        <span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">events</span>
                    </div>
                    <div class="post-title">
                        <h2><a href="blog-single.html">Here are your recommended events!</a></h2>
                    </div>

                    <div class="post-content">
                        <p>On this page you can see recommended events.</p>

                        <p th:if="${isPlanner}">You are an event planner. Add an event now!</p>
                        <a th:if="${isPlanner}" th:href="@{/event/add}" class="btn btn-grey mt-3">Add event</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="schedule-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Recommended events</h2>
                </div>
            </div>
        </div>
        <div class="row" th:if="${recommendations.size()==0}">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>There are no recommendations for you at the moment. Go to <a th:href="@{/event/list}" style="color: #d3a6a6"> all events </a> and find more events</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="schedule-tab">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="st-content" th:each="event:${recommendations}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="sc-pic">
                                                <img th:src="@{'/event/getImage/' + ${event.images.get(0).idImage}}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="sc-text">
                                                <h4> <a th:text="${event.title}" th:href="@{/event/{idEvent}(idEvent=${event.idEvent})}"></a></h4>
                                                <ul>
                                                    <li>
                                                        <i class="ti-user"></i>
                                                        <span th:text="${event.userPlanner.username}"></span>
                                                    </li>
                                                    <li>
                                                        <i class="ti-info-alt"></i>
                                                        <span th:text="${event.category.getDescription()}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li>
                                                    <i class="ti-time"></i>
                                                    <span th:text="|${event.getFormattedStartDate()} - ${event.getFormattedEndDate()}|"></span>
                                                </li>
                                                <li>
                                                    <i class="ti-location-pin"></i>
                                                    <span th:text="|${event.city.cityName} , ${event.location}|"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script th:src="@{/plugins/jquery/jquery.js}"></script>
<!-- Bootstrap jQuery -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
<!-- Owl caeousel -->
<script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/plugins/slick-carousel/slick.min.js}"></script>
<script th:src="@{/plugins/magnific-popup/magnific-popup.js}"></script>
<!-- Instagram Feed Js -->
<script th:src="@{/plugins/instafeed-js/instafeed.min.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script th:src="@{/plugins/google-map/gmap.js}"></script>
<!-- main js -->
<script th:src="@{/js/custom.js}"></script>

</body>
</html>