<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { /* Set the height of the map container */
            height: 500px;
        }
    </style>

  <!-- THEME CSS
  ================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" >
  <!-- Themify -->
  <link rel="stylesheet" th:href="@{/plugins/themify/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slick-theme.css}">
  <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slicks.css}">
  <!-- Slick Carousel -->
  <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/magnific-popup/magnific-popup.css}">
  <!-- manin stylesheet -->
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div th:insert="navbar :: navbar"> </div>

<section class="section-padding pt-4 mx-5">
    <div id="map"></div>
</section>

<section class="section-padding pt-4">
    <div class="container">
        <form id="addLocationForm" th:object="${location}" th:action="@{/saveLocation}" method="POST"
              class="comment-form mb-5 gray-bg p-5">
            <h3 class="mb-4 text-center">Add a new petfriendy location!</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Petfriendly space name..."
                               th:field="*{name}">
                    </div>
                </div>
                <div class="col-lg-12">
                    <span class="has-error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red;"></span>
                    <textarea class="form-control mb-3" id="address" name="address" cols="30" rows="5"
                              placeholder="Address..."
                              th:field="*{address}"></textarea>
                </div>

                <div class="col-lg-12">
                    <span class="has-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></span>
                    <textarea class="form-control mb-3" id="description" name="description" cols="30" rows="5"
                              placeholder="Describe the place..."
                              th:field="*{description}"></textarea>
                </div>

                <input type="hidden" id="latitude" name="latitude"
                       th:field="*{latitude}">
                <input type="hidden" id="longitude" name="longitude"
                       th:field="*{longitude}">


            </div>

            <button class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact">Add Location</button>
        </form>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script th:inline="javascript">
    var map = L.map('map').setView([44.4268, 26.1025], 10);
    var marker;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);

    map.on('click', function(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);

        // Set the latitude and longitude values in the form
        document.getElementById('latitude').value = e.latlng.lat;
        document.getElementById('longitude').value = e.latlng.lng;
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script th:src="@{/plugins/jquery/jquery.js}"></script>
<!-- Bootstrap jQuery -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
<!-- Owl caeousel -->
<script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/plugins/slick-carousel/slick.min.js}"></script>
<script th:src="@{/plugins/magnific-popup/magnific-popup.js}"></script>
<!-- Instagram Feed Js -->
<script th:src="@{/plugins/instafeed-js/instafeed.min.js}"></script>
<!-- main js -->
<script th:src="@{/js/custom.js}"></script>
</body>

</html>